body {
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: solid black ;
}

.horizontalContainer {
    flex: 1 1 0px;
    opacity: 0.5;
}

.verticalContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
}

.hovered {
    background-color: black;
    opacity: 0;
}